<%- include("parts/header.ejs") -%>

    <div class="container-fluid landingPage" id="landingPage">
        <h1>Looking for a Web Developer?</h1>
        <a href="javascript:void(0)" class="down-to-bio"><i class="fas fa-angle-double-down fa-3x"></i></a>
    </div>

    <div class="container-fluid bioPage" id="bioPage">
        <h1>Hello</h1>
        <img src="images/pro-pic/profile.jpg" alt="Profile Image">
        <p>My name is Joshua Okoro</p>
        <p>And I'm a web developer</p>
        <hr>
        <h2>Experience</h2>
        <hr>
    </div>

<%- include("parts/footer.ejs") -%>