body {
    text-align: center;
    background-color: #f7f7f7;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto Slab', serif;
}

/* LANDING PAGE STYLING */

/* landing page background image styling */
.landingPage {
    position: relative;
    background-image: url("../images/landingPageBackground.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

/* landing page h1 styling */

.landingPage h1 {
    position: absolute;
    margin-top: 0;
    color: #fff;
    font-size: 4.5rem;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}

@keyframes fadein {
    from {opacity: 0;}
    to { opacity: 1;}
}

/* landing page button styling */

.landingPage a {
    position: absolute;
    border-radius: 100%;
    padding: .3rem .5rem;
    background-color: hsla(30, 9%, 96%, 0);
    color: white;
    border: none;
    bottom: 10%;
    cursor: pointer;

    -webkit-animation: slideDown 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: slideDown 3s; /* Firefox < 16 */
        -ms-animation: slideDown 3s; /* Internet Explorer */
         -o-animation: slideDown 3s; /* Opera < 12.1 */
            animation: slideDown 3s;
}

@keyframes slideDown {
    0% {bottom: 40%}
    100%{bottom: 10% }
    0% {opacity: 0;}
    50% {opacity: 0;}
    70% {opacity: 0.2;}
    100% { opacity: 1;}
}

.landingPage a:hover {
    background-color: #fff;
    color: #000;
}


/* BIO PAGE STYLING */

.bioPage {
    padding-top: 5rem;
    width: 100%;
}

/* Styling the profile image */
.bioPage img {
    width: 20%;
    height: auto;
    border-radius: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

hr {
    border-top: 5px dotted #e6e6e6;
    width: 50%;
}

/* EXPERIENCE PAGE STYLING */

.stackPage {
    margin-top: 1rem;
    padding-top: 2rem;
}

.stackPage .col-lg {
    margin: 1rem 1rem 3rem;
}

.stackPage .fas {
    color: #d9d9d9;
}
.col-lg .card {
    text-align: left;
}
.col-lg .card img{
    margin-left: auto;
    margin-right: auto;
    border-radius: 0;
}
.card ul {
    list-style: none;
}

/* PROJECT PAGE STYLING */

.projectPage {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #262626;
    color: #fff;
}

.projectPage .card-img-top {
    padding: 2rem;
}



/* CONTACT PAGE STYLING */
.contactPage {
    padding: 3rem;
}

.contactForm {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.form-control {
    border-radius: 1rem;
}

.contactCard {
    border-radius: 20%;
    width: 80%;
    padding: 1rem 0;
    line-height: 1rem;
    margin: 2rem auto;
}

/* FOOTER STYLING */

.footerBar {
    background-color: #000d1a;
    color: #bfbfbf;
    padding: 3rem 3rem;
}